---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="404 - Page Not Found"
  description="The requested page could not be found"
  author="Andrew Beresford"
  url="https://beez.ly/404"
>
  <div class="center">
    <h1 class="heading text-center">404</h1>
    <p class="paragraph text-center">The page you requested cannot be found!</p>
    <p class="paragraph text-center">
      <a href="/" class="link animation">← Back to home</a>
    </p>
  </div>
</BaseLayout>
