---
import IconGithub from "../assets/icons/brand-github.svg";
import IconLinkedin from "../assets/icons/brand-linkedin.svg";
import IconBluesky from "../assets/icons/brand-bluesky.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://www.linkedin.com/in/andrewberesford/" target="blank" aria-label="linkedin"
    ><IconLinkedin class="socials" /></a
  >
  <a href="https://github.com/beezly" target="blank" aria-label="github"
    ><IconGithub class="socials" /></a
  >
  <a href="https://bsky.app/profile/beez.ly" target="blank" aria-label="bluesky"
    ><IconBluesky class="socials" /></a
  >
</div>
