---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Andrew Beresford" description="About me">
  <div class="prose prose-lg max-w-none">
    <h1>About</h1>
    <p>
      I was born and bred in Yorkshire, GB. I work as a platform engineering consultant. In my
      spare time I enjoy motorcycling, playing bass guitar and
      <a href="http://flickr.com/beezly" target="_blank" rel="noopener noreferrer">photography</a>.
    </p>
  </div>
</BaseLayout>
